node_modules/
data/bedrock/*/items_mappings.json
data/bedrock/*/generator_blocks_v1.json
data/bedrock/*/generator_blocks_v2.json
data/bedrock/*/collision.json
data/bedrock/*/collisions.nbt
data/bedrock/*/block_palette.nbt
data/bedrock/*/block-state-shapes.nbt
data/java/
data/bedrock/*/item_registry.json
data/bedrock/*/crafting_data.json
data/bedrock/*/biome_definition_list.json
data/bedrock/*/available_entity_identifiers.json
data/bedrock/*/player_attributes.json
servers/
/output/*/biome/Bedrock2Java.json
/output/*/biome/Biomes.json
/output/*/language.json
/output/*/steve.json
/output/*/recipes.json
/output/*/biome/Java2Bedrock.json
/output/*/items.json
/output/*/blocks/Bedrock2Java.json
/output/*/blocks/BlockStates.json
/output/*/blocks/BRID.json
/output/*/blocks/BSS.json
/output/*/blocks/J2BRID.json
/output/*/blocks/Java2Bedrock.json
/output/*/items/Bedrock2Java.json
/output/*/items/Java2Bedrock.json
/output/*/attributes.json
/output/*/biomes.json
/output/*/blockCollisionShapes.json
/output/*/blocks.json
/output/*/entities.json
/data/pymctranslate/*
